nav {

  a {
    font-family: $font-univers-condense;
  }

  ul {
    list-style-type: none;
  }
}

.hamburger,
.cross {
  background: none;
  position: absolute;
  top: 35px;
  right: calc(100%-30px);
  padding: 0 0 0 5px;
  color: $a-color;
  border: 0;
  font-weight: bold;
  outline: none;
  z-index: 100000000000;
  display: block;

  @media $small {
    top: 70px;
  }
  @media $medium {
    display: none;
  }
}

.hamburger{
  line-height: 45px;
  font-size: 1.4em;
}
.cross{
  top: 40px;
  font-size: 3em;
  line-height: 65px;
  @media $small {
    top: 75px;
  }
}

.nav {
  position: relative;

  .navbar {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

  } /* navbar */

  .account {
    margin: 3px auto;
    flex-direction: row;
    justify-content: center;
    width: $container-default-width;
    max-width: $container-max-width;

    @media $medium {
      justify-content: flex-end;
    }

    li {
      font-size: 0.8em;
      font-family: $font-univers-roman;
      font-weight: bold;
    }

    li:nth-child(even) {
      color: $a-color;
      padding: 0 1em;
    }

    a {
      font-family: $font-univers-roman;
    }

  } /* account */

  .main {
    justify-content: space-between;
    background: #eee;

    border: 1px solid #ddd;
    border-width: 0 0 1px 1px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    display: none;

    transition: 0.5s ease-out;

    @media $medium {
      flex-flow: row wrap;
      display: flex;
    }

    li {
      flex-grow: 1;
      flex-basis: auto;
      transition: 0.5s ease-out 5s;

      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;

      &:last-child {
        border-right: none;
      }

      @media $medium {
        &:hover, &:focus {
          .dropdown {
            display: flex;
            z-index: 300;
          }
        }
      } /* li */

      .dropdown {
        position: relative;
        z-index: 250;
        left: 0;
        width: 100%;
        background: white;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
        display: none;

        li {
          justify-content: center;
          align-items: center;
          display: flex;
          @media $medium {
            height: 50px;
          }
        }

        @media $medium {
          position: absolute;
        }

        &.active {
          display: flex;
          box-shadow: inset -1px 2px 2px rgba(0,0,0,0.3);
          a {
            &.active,
            &:focus, &:hover {
              background: none;
            }
          }
        }

      } /* dropdown */


      a {
        display: flex;
        justify-content: center;
        padding: 8px 5px;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        transition: 0.5s ease-out;
        &.active,
        &:hover, &:focus {
          background: white;
        }
      } /* a */

    } /* li */

  } /* main */

} /*nav*/
